<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FictionalInvestment.Crm.Data.CrmDataService">
        <endpoint address="net.tcp://localhost:9000/FictionalInvestment/CrmDataService" 
                  binding="netTcpBinding" 
                  contract="Common.Contracts.ICrmDataService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
